@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root{
    --seia-ligthred:#d13431;
    --seia-red:#e80000;
    --seia-darkred:#a03732;
    --seia-ambar:#f9a431;
    --seia-yellow:#ffc23a;
    --seia-oceanblue:#0071bc;
    --seia-darkblue:#0052b4;
    --seia-jeans:#35488b;
    --seia-greenligth:#00c949;
    --seia-green:#00a149;
    --seia-darkback:#383737;
    --seia-ligthgrey:#595959;
    --seia-grey:#686868;

    --seia-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
}

body, #content-wrapper{
    background-image: url('https://res.cloudinary.com/dnjjcvwx5/image/upload/v1675769151/assets/seia/img/fundo_uvigv0.png') !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;  
    background-color: white !important;
    font-family: 'Quicksand', sans-serif !important;
}

#content-wrapper{
    background-color: transparent !important;
}

.navbar-light .navbar-nav .nav-link{
    background: transparent !important;
    transition: none !important;
}

.logo-seia-retraido{
    width: 50px !important;
}

.img-perfil-retraido{
    width: 50px !important;
    margin-left: 0px !important;
}

.info_perfil_nav img{
    box-shadow: 0px 3px 9px 1px rgba(0, 0, 0, 0.25);
    border: 2px solid rgba(255, 255, 255, 1);
    width: 3em;
    border-radius: 50%;
    margin-left: 1em;
}

.img-perfil-retraido{
    width: 50px !important;
    margin-left: 0px !important;
}

#sidebarToggle{
    position: absolute;
    top: 5.6em;
    right: 0;
    width: 1em !important;
    border: none;
    outline: none;
    z-index: 100;
    border-radius: 6px 0 0 6px;
    background-color: white !important;

    box-shadow: 0px 3px 9px 1px rgba(0, 0, 0, 0.25);
    align-items: center;
    justify-content: center;
    display: flex;
    transition: background-color 0.3s ease-in-out;
}

.navbar-light .info_perfil_nav .name{
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
}

.navbar-light .info_perfil_nav .info{
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
}

.navbar-nav .menu-title{
    font-weight: 700;
    font-size: 12px;
    line-height: 19px;
    margin-bottom: 10px;
    margin-left: 20px;
}

/* active  li a*/

.navbar-nav a {
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;

    display: flex !important;
    justify-content: start !important;
    align-items: center !important;
}

.navbar-nav .icons-menu{
    font-size: 1.5em !important;
    margin-right: 10px;
}

.navbar-nav .icons-menu-retraido{
    font-size: 25px !important;
    
}

.center-retraido{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column;
    margin-left: 0px !important;
}

/* active  navbar*/


.navbar-nav .active-blue{
    background-color: var(--seia-darkblue);
    color: white !important;
}

.navbar-nav .active-red{
    background-color: var(--seia-darkred);
    color: white !important;
}

.navbar-nav .active-green{
    background-color: var(--seia-green);
    color: white !important;
}

.navbar-nav .active-yellow{
    background-color: var(--seia-ambar);
    color: white !important;
}

.dropdown-menu{
    background: rgba(255, 255, 255, 0.726) !important;
    -webkit-backdrop-filter: blur(10px) !important;
    backdrop-filter: blur(10px) !important;
     
}

.dropdown-item{
    border: 1px solid rgba(255,255,255,0.25) !important;  
}

.dropdown-item:hover{
    background-color: var(--seia-darkblue) !important;
    color: white !important;
}


/* menu sair */
.exit{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1em;
}

.exit a{
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
    margin-bottom: 10px;
    margin-left: 0 !important;
    display: flex !important;
    justify-content: start !important;
    align-items: center !important;
}

.exit .copyright{
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    color: var(--seia-grey) !important;
    margin-bottom: 10px;
    margin-left: 0 !important;
    display: flex !important;
    justify-content: start !important;
    align-items: center !important;
}

.exit .icons-menu{
    font-size: 1.5em !important;
    margin-right: 10px;
}

.exit .icons-menu-retraido{
    font-size: 25px !important;
}

/* avisos card */

.avisos{
    background-color: var(--seia-darkblue);
    box-shadow: var(--seia-shadow);
    border-radius: 10px;
    padding: 1em;
    margin-bottom: 1em;
    color: white;
}

.avisos .title{
    font-weight: 900;
    line-height: 19px;
    margin-bottom: 10px;
}

.avisos img{
    position: relative;
    top: 1em;
    right: 0em;
    left: 2em;
    margin-right: 0.5em;

}

/* Main cards */
main .card{
    background-color: white;
    box-shadow: var(--seia-shadow);
    border-radius: 10px;
    padding: 1em;
    margin-bottom: 1em;
    min-height: 15em ;
}

main .card .title{
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
    margin-bottom: 5px;
    color: var(--seia-ligthgrey); 
}

main .card ul{
    list-style: none;
    padding: 0;
    margin-left: 5px;
}

main .card li{
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
}

main .card li a{
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: var(--seia-darkblue);
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

main .card li a:hover{
    color: var(--seia-darkred);
}

main .card li a i{
    font-size: 15px;
    margin-right: 0.5em;
}

/********* Pagina de dados *******/

.dados-pessoais label,
.filiacao label,
.dados-endereco label,
.responsaval label,
.observacao label{
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: var(--seia-darkback);
}

.dados-pessoais input{
    background: rgba(255, 255, 255, 0.726) !important;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px) !important;
    border: 0px;
    border-bottom: 1px solid var(--seia-green) !important;
    border-radius: 6px 6px 0px 0px;
    padding: 0.2em;
    color: var(--seia-green);
    margin-bottom: 1em;
}

.filiacao input{
    background: rgba(255, 255, 255, 0.726) !important;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px) !important;
    border: 0px ;
    border-bottom: 1px solid var(--seia-ligthred) !important;
    border-radius: 6px 6px 0px 0px;
    padding: 0.2em;
    color: var(--seia-ligthred);
    margin-bottom: 1em;
}

.dados-endereco input{
    background: rgba(255, 255, 255, 0.726) !important;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px) !important;
    border: 0px ;
    border-bottom: 1px solid var(--seia-darkblue) !important;
    border-radius: 6px 6px 0px 0px;
    padding: 0.2em;
    color: var(--seia-oceanblue);
    margin-bottom: 1em;
}

.responsaval input{
    background: rgba(255, 255, 255, 0.726) !important;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px) !important;
    border: 0px ;
    border-bottom: 1px solid var(--seia-ambar) !important;
    border-radius: 6px 6px 0px 0px;
    padding: 0.2em;
    color: var(--seia-ambar);
    margin-bottom: 1em;
}

.observacao textarea{
    border: 1px solid var(--seia-ligthred);
    border-radius: 6px;
    padding: 0.5em;
}

.boletim .badge{
    color: white !important;
    width: 100%;
}

/* Medias*/

@media (max-width: 991px) {
    .avisos{
        padding-top: 1.5em;
    }
    .avisos img{
        width: 300px;
    }
}

@media (max-width: 868px){
    .avisos{
        padding: 1.5em;
        background-image: url('https://res.cloudinary.com/dnjjcvwx5/image/upload/v1675960159/assets/seia/img/Teacher-student_rkk4o5.svg');
        background-repeat: no-repeat;
        background-position: 360px 90px;
        background-size: 60%;
    }
    .avisos img{
        display: none;
    }
}

@media (max-width: 767px) {
    .info_perfil_nav{
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
        text-align: center;
    }

    .info_perfil_nav img{
        margin-left: 0px !important;
        margin-bottom: 0.3em;
    }
    
    .sidebar{
        width: 250px !important;
        padding: 0 !important;
        margin: 0 !important;
    }

    .sidebar .navbar-nav {
        width: 100% !important;
    }

    .sidebar .navbar-nav a{
        width: 100% !important;
    }

    #sidebarToggle{
        display: none !important;
    }   
    
    .avisos{
        background-image: none;
        border-radius: 25px 0px 25px 25px;
        -moz-border-radius: 25px 0px 25px 25px;
        -webkit-border-radius: 25px 0px 25px 25px;
    }

    .dados-pessoais title,
    .filiacao title,
    .dados-endereco title,
    .responsaval title,
    .observacao title{
        text-align: center !important;
    }


    .dados-pessoais img{
        width: 9em !important;
        margin-bottom: 2em;
    }
}

